@import url('https://fonts.googleapis.com/css2?family=Comme&display=swap');
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: 'Comme', sans-serif;
}
.con{
    
    height: 100vh;
    background: url("./bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.text{
    color: white;
    display: flex;
    align-items: center;
}
.text p{
    font-size: 2rem;
}
.text span{
    font-size: .75rem;
}
.w1{
    font-size: 4rem;
}
.w3 span{
    margin: .3rem;
}
.w3 img{
    width: 2rem;
}
.text>div{
    margin: .625rem;
}
.nav{
    background: url("./bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .form{
    position: absolute;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: rgb(110, 105, 105,.25);
    border-top-left-radius:35px;
    border-top-right-radius: 35px;
    width: 70%;
    height: 15%;
    left: 15%;
    text-align: center;
}
.inp{
    background: none;
    margin: 1rem;
    width: 70%;
    height: 2rem;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    padding: 10px;
    color: rgb(255, 255, 255);
}
.inp::placeholder {
    color: rgb(255, 255, 255);
  }
  
.btn{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    width:20%;
    height: 2rem;
    background-color: rgb(255, 195, 100);
    color: rgb(0, 0, 0);
    font-size: .8rem;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(255, 195, 140);
}
@media screen and (max-width:700px){
    .form{
        width: 100%;
        left: 0%;
    }
}